Projects/P6_VGA/*.bak
Projects/P6_VGA/src/*.bak
Projects/P6_VGA/simulation/questa/*.bak
Projects/P6_VGA/simulation/questa/*.bak1
Projects/P6_VGA/simulation/questa/*.bak2
Projects/P6_VGA/simulation/questa/*.do
Projects/P6_VGA/simulation/questa/transcript
Projects/P6_VGA/simulation/questa/msim_transcript