echo "INTEL FPGA QUARTUS 23.1std"
echo "INTEL SOC EDS 20.1"
echo "Linaro GCC 7.5"

export ARCH=arm
export QUARTUSPATH=~/intelFPGA/23.1std
export PATH=$PATH:${QUARTUSPATH}/quartus/bin/
export PATH=$PATH:${QUARTUSPATH}/nios2eds/

export ALTERAPATH=~/intelFPGA_pro/20.1
export PATH=$PATH:${ALTERAPATH}/embedded/
export PATH=$PATH:${ALTERAPATH}/embedded/host_tools/altera/preloadergen/

export SOCEDS_DEST_ROOT=${ALTERAPATH}/embedded
export SOCEDS_HWLIB=${ALTERAPATH}/embedded/ip/altera/hps/altera_hps/hwlib/

export GCC_Linaro=/opt/gcc-linaro-7.5.0-2019.12-x86_64_arm-linux-gnueabihf/bin
export PATH=$PATH:${GCC_Linaro}

export ARCH=arm
export CROSS_COMPILE=arm-linux-gnueabihf-